---

import { FileText } from "lucide-react";

import { getPreferredLocale, getTranslations } from "@/utils/i18n.ts";
import AuthIsland from "./auth-island.astro";

const locale = getPreferredLocale(Astro.request.headers);
const i18n = getTranslations(locale);
---

<header
    class="flex h-16 items-center gap-4 border-b bg-background px-4 md:px-8"
>
    <nav class="flex flex-row items-center gap-6 text-sm font-semibold">
        <a href="/" class="flex items-center gap-2 text-base font-bold">
            <FileText className="h-6 w-6" />
            <span>Paperloop</span>
        </a>
        {Astro.locals.user &&
            <a
                href="/docs"
                class="hidden md:block text-foreground transition-colors hover:text-foreground"
            >
                {i18n("my-documents")}
            </a>
        }
    </nav>
    <nav class="ml-auto flex items-center gap-2">
        <slot></slot>
        <AuthIsland server:defer></AuthIsland>
    </nav>
</header>

<style>
    @media print {
        header {
            display: none;
        }
    }
</style>
